<!doctype html>
<html>
<head><title>User Details</title></head>
<body>
  <h2>Enter Basic Details</h2>

  <form method="POST">
    <label>First name:</label><br>
    <input type="text" name="firstname"><br><br>

    <label>Last name:</label><br>
    <input type="text" name="lastname"><br><br>

    <label>Email:</label><br>
    <input type="email" name="email"><br><br>

    <label>Address:</label><br>
    <input type="text" name="address"><br><br>

    <button type="submit">Submit</button>
  </form>
</body>
</html>
